@use "../theme.scss" as theme;

#sidebar {
	position: absolute;
	top: 100px;
	left: 0;
	width: 350px;
	height: calc(100% - 100px);
	background: theme.$background-primary;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	padding: 40px 20px 0px 40px;
	gap: 40px;

	.sidebar-menu-item {
		color: theme.$font-inactive-color;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		gap: 15px;
		cursor: pointer;
		user-select: none;
		font-size: 16px;

		.sidebar-menu-item-image {
			width: 30px;
			height: 30px;
		}

		.sidebar-menu-item-gem {
			position: absolute;
			right: 0;
			top: calc(50% - 10px);
			width: 20px;
			height: 20px;
		}
	}

	.sidebar-menu-item.active {
		color: theme.$font-active-color;	
	}

	hr {
		width: 100%;
		border: 1px solid theme.$background-secondary;
	}

	.sidebar-menu-link {
		text-decoration: none;
		color: theme.$font-inactive-color;
	}
}