:root {
  // Font
  --font-family: "Segoe UI", sans-serif;

  // Colors
  --dark-blue: #01052d;
  --dark-blue-2: #2c337e;
  --white: #ffffff;
  --blue: #01b4ff;
  --blue-2: #0082b9;
  --dark-gray-1: #3a4667;
  --dark-gray-2: #7f8699;
  --dark-gray-3: #3d4048;
  --dark-gray-4: #4d5e8c;
  --dark-gray-5: #191e3e;
  --red: #e94141;

  // Sizes
  --header-height: 100px;
  --input-height: 52px;
}
