.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.label {
}

.root {
  font: var(--input);
  padding: 14px 18px;
  background: var(--dark-blue);
  border: 1px solid var(--dark-gray-1);
  border-radius: 10px;
}

.option {
}
