@use "../theme.scss" as theme;

.level-bar-small {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 5px;
	align-items: center;

	.indication {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;

		.number {
			font-weight: bold;
			font-size: 20px;
		}

		img {
			width: 15px;
			height: 15px;
		}

		.title {
			color: theme.$font-inactive-color;
			font-size: 10px;
		}
	}

	.bar {
		width: 150px;
		height: 5px;
		background: theme.$background-secondary;

		div {
			height: 100%;
			background: theme.$neon-color;
			box-shadow: 0 0 8px theme.$neon-color;
		}
	}
}